# Telegram
BOT_TOKEN=
BOT_USERNAME=
INVOKE_COMMAND=
LOG_CHAT_ID=
ADMIN_USERNAME=
EASTER_EGG_USERNAME=

# Database
CONNECTION_STRING=Host=db;Port=5432;Database=saturn;Username=postgres;Password=
POSTGRES_PASSWORD=

# AtlasCloud
ATLAS_CLOUD_API_KEY=

# Admin


# External services
YOUTUBE_COOKIES_PATH=/app/youtube_cookies.txt
INSTAGRAM_COOKIES_PATH=/app/instagram_cookies.txt

# API (optional)
PATH_BASE=
