# Telegram
BOT_TOKEN=
BOT_USERNAME=
LOG_CHAT_ID=
ADMIN_USERNAME=

# Database
CONNECTION_STRING=Host=db;Port=5432;Database=saturn;Username=postgres;Password=
POSTGRES_PASSWORD=

# xAI
CHAT_GENERATION_API_KEY=
IMAGE_GENERATION_API_KEY=
IMAGE_EDIT_API_KEY=

# Admin


# External services
YOUTUBE_COOKIES_PATH=/app/youtube_cookies.txt
INSTAGRAM_COOKIES_PATH=/app/instagram_cookies.txt

# API (optional)
PATH_BASE=
