bin/
obj/
.env
/packages/
.DS_Store
**/.DS_Store
riderModule.iml
/_ReSharper.Caches/
.idea/
Saturn.Telegram.Api/Properties/launchSettings.json
Saturn.Telegram.Bot/Properties/launchSettings.json
Saturn.Telegram.sln.DotSettings.user
Saturn.Telegram.Db/bin
